

$easis-primary-color: #14bd91;

// 修改样式变量
$vxe-font-size: 14px !default;
$vxe-font-color: #666 !default;
$vxe-primary-color: $easis-primary-color !default;
$vxe-table-font-color: $vxe-font-color !default;
$vxe-table-border-color: #e8eaec !default;
$vxe-table-border-radius: 4px !default;

@import '/node_modules/vxe-table/styles/index.scss';
@import '/node_modules/vxe-table-plugin-antd/style.scss';